<%- include('partials/header'); -%>
<div class="container">
  <form class="form-control" action="/admin" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Capitol</label>
      <input type="text" class="form-control" id="capitol" name="capitol">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Articol</label>
      <input type="text" class="form-control" id="articol" name="articol">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Sectiune</label>
      <input type="text" class="form-control" id="sectiune" name="sectiune">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Subsectiune</label>
      <input type="text" class="form-control" id="subsectiune" name="subsectiune">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Alineat</label>
      <input type="text" class="form-control" id="alineat" name="alineat">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br>
  <form class="form-control" action="/admin"  method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tip</label>
      <input type="text" class="form-control" id="capitol" name="tip">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Imagine</label>
      <input type="text" class="form-control" id="articol" name="imagine">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Titlu</label>
      <input type="text" class="form-control" id="sectiune" name="titlu">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Explicatie</label>
      <input type="text" class="form-control" id="subsectiune" name="explicatie">
    </div>
    <button type="submit" class="btn btn-primary" value="Upload Image">Submit</button>
  </form>
<br>
  <form class="form-control" action="/admin"  method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Categorie</label>
      <input type="text" class="form-control" id="categorie" name="categorie">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Intrebare</label>
      <input type="text" class="form-control" id="capitol" name="intrebare">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Imagine</label>
      <input type="text" class="form-control" id="articol" name="imagine">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">R1</label>
      <input type="text" class="form-control" id="sectiune" name="r1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">R2</label>
      <input type="text" class="form-control" id="subsectiune" name="r2">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">R3</label>
      <input type="text" class="form-control" id="subsectiune" name="r3">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Raspuns corect1</label>
      <input type="text" class="form-control" id="subsectiune" name="rc1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Raspuns corect2</label>
      <input type="text" class="form-control" id="subsectiune" name="rc2">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Raspuns corect3</label>
      <input type="text" class="form-control" id="subsectiune" name="rc3">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
</div>

  <%- include('partials/footer'); -%>
