<%- include('partials/header'); -%>
<section>
  <nav>
    <div class="capitole d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-primary text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Capitole</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/cap1" target="iframe_a" class="nav-link" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Cap. I Dispozitii generale
            </a>
          </li>
          <li>
            <a href="/cap2" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Cap. II Vehicule
            </a>
          </li>
          <li>
            <a href="/cap3" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Cap. III Conducatorii de vehicule
            </a>
          </li>
          <li>
            <a href="/cap4" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Cap. IV Semnalizarea rutiera
            </a>
          </li>
          <li>
            <a href="/cap5" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Cap. V Reguli de circulatie
            </a>
          </li>
          <li>
            <a href="/cap6" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Cap. VI Infractiuni si pedepse
            </a>
          </li>
          <li>
            <a href="/cap7" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Cap. VII Raspunderea contraventionala
            </a>
          </li>
          <li>
            <a href="/cap8" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Cap. VIII Cai de atac impotriva procesului verbal
            </a>
          </li>
          <li>
            <a href="/cap9" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Cap. IX Atributii ale unor ministere si ale altor autoritati ale administratiei publice
            </a>
          </li>
          <li>
            <a href="/cap10" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Cap. X Dispozitii finale
            </a>
          </li>
          <li>
            <a href="/cap11" target="iframe_a" class="nav-link link-body-primary">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Cap. XI Anexa 1 Categorii de vehicule pentru care se elibereaza permisul de conducere
            </a>
          </li>
        </ul>
        <hr>
    </div>
  </nav>
  <article class="rightnav">
    <iframe src="/cap1" name="iframe_a" title="Iframe Example"></iframe>
  </article>
</section>


  <%- include('partials/footer'); -%>
