<%- include('partials/header'); -%>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Chestionare</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">CAT-A</h3>
          <p>Cuprinde categoriile A, A1, A2, AM</p>
          <a href="/quizz1" class="btn btn-primary">
            START
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">CAT-B</h3>
          <p>Cuprinde categoriile B, B1</p>
          <a href="/quizz2" class="btn btn-primary">
            START
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">CAT-C</h3>
          <p>Cuprinde categoriile C, C1</p>
          <a href="/quizz3" class="btn btn-primary">
            START
          </a>
        </div>
      </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">CAT-D</h3>
          <p>Cuprinde categoriile D, D1, Tb, Tv</p>
          <a href="/quizz4" class="btn btn-primary">
            START
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">CAT-E</h3>
          <p>Cuprinde categoriile BE, CE, DE. C1E, D1E</p>
          <a href="/quizz5" class="btn btn-primary">
            START
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">CAT-R</h3>
          <p>Redobandirea permisului suspendat</p>
          <a href="/quizz6" class="btn btn-primary">
            START
          </a>
        </div>
      </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">CAT-TR</h3>
          <p>Categoria Tr</p>
          <a href="/quizz7" class="btn btn-primary">
            START
          </a>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer'); -%>
