<%- include('partials/header'); -%>
<div class="container">
<div class="row gy-3">
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/2627c2fe7f7552cbb5bbc881f6870d85.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">De avertizare</h5>
        <a href="/img1" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/2a1ecd23bfd990989551f8209f6faa6f.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">De Interzicere sau restrictie</h5>
        <a href="/img2" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/936dec6f64f1bbbf575c8c1c81a61626.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">De Prioritate</h5>
        <a href="/img3" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row gy-3">
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/27606c6ee1ea9fcd5916d7a8b5f292d4.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">De Obligare</h5>
        <a href="/img4" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/c04fbaaf3c745540a2657a0a7d7deaaf.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">De Informare</h5>
        <a href="/img5" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/144c380c44bfc644c51d04d5ddcd5921.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">De Orientare</h5>
        <a href="/img6" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row gy-3">
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/7bbad573d697b134dbc6e72086185acf.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">De Informare Turistica</h5>
        <a href="/img7" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/c286833f872b924033c0e5ab87dd5fb1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Semnale luminoase</h5>
        <a href="/img9" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row gy-3">
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/36ee083d51e48c2b6cadeae7008b5bf7.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Indicatoare instalate la trecerea cu calea ferata</h5>
        <a href="/img10" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/baf8bc19fe6afc1f50a4ac4baefd84c9.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Indicatoare kilometrice</h5>
        <a href="/img11" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/115b94e6e26830a1ae78c3ccedebec70.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mijloace auxiliare de semnalizare a lucrarilor</h5>
        <a href="/img12" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row gy-3">
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/a0c1cba4db250ce40516bbe0f3696a6d.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dispozitive luminoase pentru dirijarea circulatiei pe benzi reversibile</h5>
        <a href="/img13" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/8603a3c40c19d9fe0d672f3db8c6b012.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marcaje longitudinale</h5>
        <a href="/img14" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/b8f67cbbdc87d599a93de76e6253918d.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marcaje transversale</h5>
        <a href="/img15" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row gy-3">
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/1f932e14d2078a8d22b93f24832f228a.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marcaje diverse</h5>
        <a href="/img16" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/1a16c2d2580eda2d2c192c5b5985c29f.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marcaje laterale</h5>
        <a href="/img17" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/1d42c0a9a4195fce65fe23c3992aca61.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marcaje temporare pentru semnalizarea lucrarilor in zona drumului public</h5>
        <a href="/img18" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row gy-3">
  <div class="col-md-4">
    <div class="card text-center h-100">
      <img class="card-img-top rounded" src="https://www.codrutier.ro/storage/images/31c56ffeb414ac6db0704d728e12101e.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Semnalele politistului rutier</h5>
        <a href="/img20" class="btn btn-primary">START</a>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('partials/footer'); -%>
